<!DOCTYPE html>
<meta http-equiv="content-type" charset="utf-8">
<body>
<p>お互いの攻撃が外れました！攻撃しましょう！</p><br />
縦(1~5)<input type="number" name="tate" value=""><br />
横(A~E)<input type="text" name="yoko" value=""><br />
<input type="submit" name="kaisen" value="送信">

<p>あなたの陣地</p>
<table>
    <tr>
        <th> </th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th>
    </tr>
    <tr>
        <td>A</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>B</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>C</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>D</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>E</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
</table>
<p>CPUの陣地</p>
<table>
    <tr>
        <th> </th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th>
    </tr>
    <tr>
        <td>A</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>B</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>C</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>D</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>E</td><td></td><td></td><td></td><td></td><td></td>
    </tr>

</table>
</boby>
    </html>
