<!DOCTYPE html>
<meta http-equiv="content-type" charset="utf-8">
<body>
<p>あなたの攻撃が命中しました！あなたの勝ちです！</p><br />

<li><a href="result.html">戦績へ</a></li>

<p>あなたの陣地</p>
<table>
    <tr>
        <th> </th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th>
    </tr>
    <tr>
        <td>A</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>B</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>C</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>D</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>E</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
</table>
<p>CPUの陣地</p>
<table>
    <tr>
        <th> </th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th>
    </tr>
    <tr>
        <td>A</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>B</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>C</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>D</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>E</td><td></td><td></td><td></td><td></td><td></td>
    </tr>

</table>
</body>
    </html>
